//! **************************************************************************
// Written by: Map J.40 on Thu Jan 14 15:52:14 2021
//! **************************************************************************

SCHEMATIC START;
NET "Clk_BUFGP/IBUFG" BEL "Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
